<%- include('./partials/header'); %>

    <body class="h-screen w-screen flex items-center justify-center bg-gray-100">

        <div class="relative h-full w-full">
            <!-- Full-screen Image -->
            <img src="/images/blinkit.jpg" alt="Background Image" class="object-cover w-full h-full">

            <!-- Button at the Bottom -->
            <div class="absolute bottom-0 w-full flex justify-center mb-8">
                <a href="/auth/google"
                    class="bg-black text-white font-semibold py-3 px-6 rounded-lg hover:bg-black transition duration-300">
                    Continue with Google
                </a>
            </div>
        </div>

    </body>

    <%- include('./partials/footer'); %>